{
  "Changes": [
  {
    "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "mc.kter.jp.",
        "ResourceRecords": [
        {
          "Value": "{%IP%}"
        }
        ],
          "TTL": 60,
          "Type": "A"
      }
  }
  ]
}
